@import url('../../fonts/fonts.css');

/* .OrderCard p {
    font-size: 20px;
} */

.OrderList {
    width: 60%;
}

.OrderInfo p {
    font-family: "Montserrat-Regular";
    white-space: pre;
}

.datetime {
    font-family: "Montserrat-Regular";
}

.OrderCard .nextui-image-container {
    margin: 0
}

.order-title {
    font-family: "Montserrat-Bold";
}

.order-name {
    font-family: "Montserrat-SemiBold";
}

.order-price {
    /* font-family: "Montserrat-SemiBold"; */
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
    /* font-size: large; */
}

.order-text-block {
    white-space: pre;
    /* font-family: "Montserrat-Medium"; */
}

.order-text-bold {
    /* font-family: "Montserrat-Medium"; */
}

.calculator {
    /* padding-right: 30px */
}

@media screen and (max-width: 1920px) {
    .OrderList {
        width: 60%;
    }
}

@media screen and (max-width: 1280px) {
    .OrderList {
        width: 90%;
    }
}

@media screen and (max-width: 959px) {
    .OrderCard p {
        font-size: 3vw;
    }

    .datetime {
        font-size: 2vw;
    }
}